.image-diptych {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  background-color: transparent;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.image-diptych img {
  object-fit: cover;
  width: 100%;
}
